# Comments are supported
CIRCUITPY_WIFI_SSID="YOUR WIFI SSID"
CIRCUITPY_WIFI_PASSWORD="YOUR PASSWORD"
CIRCUITPY_NETMASK = "255.255.255.0"
CIRCUITPY_GATEWAY = "192.168.8.1"

REST_ROVER_SERVER_IPV4 = "192.168.8.42"
REST_ROVER_CLIENT_IPV4 = "192.168.8.43"

